/*
    COLOR
*/
$c-black: #000;
$c-white: #fff;
$c-light: #f4f3ea;
$c-title: #ccd6f6;
$c-basic: #8892b0;
$c-simbol: #7ee0c9;
$c-back: #112240;

/*
    Z-INDEX
*/
$z-header: 1;
$z-intro: -10;
$z-intro-text: -1;
$z-back: -1;
$z-btn: 50;
$z-popup: 100;
$z-floating: 1;
/*
    PATH
*/
$path-image: '../images';

/*
    FONT-WEIGHT
*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
